{% extends 'layouts/base.html' %}
{% from 'posts/_macros.html' import post_preview %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/similar_posts.css') }}">{% endblock %}

{% block linkscript %}<script src="{{ url_for('static', filename='javascript/similarity_posts.js') }}"></script>{% endblock %}

{% block title %}Similarity Pool for {{ similarity_pool.post_id }}{% endblock %}

{% block content %}
    <div id="similarity-pool-content">
        <div class="heading" style="font-size: 32px">Similarity Pool: <a href="{{ post.show_url }}">{{ post.shortlink }}</a></div>
        <div style="margin-top: 1em;">
            <div id="posts-container" style="">
                {{ post_preview(post) }}
            </div>
            <div style="font-size: 20px; margin-top: 1em;">
                <strong>Controls:</strong>
                (
                <a href="javascript:SelectAll()">All</a> |
                <a href="javascript:SelectNone()">None</a> | 
                <a href="javascript:SelectInvert()">Invert</a>
                )
                <strong>[ <a style="color: red;" href="javascript:SubmitForm()">DELETE</a> ]</strong>
            </div>
        </div>
        <form id="form" method="POST" action="{{ url_for('similarity_pool_element.batch_delete_html') }}">
            <div id="similar-posts-container">
                {% for post_data in elements.items %}
                    <div class="similar-post-block">
                        <div class="input">
                            <label style="padding: 0.5em; margin-top: 0;" for="similar-post-{{ post_data.post.id }}">
                                <input type="checkbox" class="similar-post-input" id="similar-post-{{ post_data.post.id }}" name="similarity_pool_element[id][]" value="{{ post_data.element.id }}">
                            </label>
                        </div>
                        <div><strong><a href="{{ url_for('similarity_pool.show_html', id=post_data.element.sibling.pool_id)}}">{{ post_data.post.shortlink }}</strong></a>&emsp;(&thinsp;<a style="color: red;" href="{{ post_data.element.delete_url }}" onclick="return SimilarityPosts.deleteElement(this)">remove</a>&thinsp;)</div>
                        <article class="post similar-post">
                            <a href="{{ post_data.post.show_url }}">
                                <img src="{{ post_data.post.preview_url }}">
                            </a>
                        </article>
                        <div><strong>Score:</strong> {{ post_data.element.score }}</div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}
{% block pages %}{{ helpers.base.PageNavigation(elements) }}{% endblock %}

{% block pagescript %}
<script>
    function SubmitForm() {
        if (confirm("Remove posts from similarity pool?")) {
            document.getElementById('form').submit();
        }
    }
    function SelectAll() {
        [...document.getElementsByClassName('similar-post-input')].forEach((input)=>{
            input.checked = true;
        });
    }
    function SelectNone() {
        [...document.getElementsByClassName('similar-post-input')].forEach((input)=>{
            input.checked = false;
        });
    }
    function SelectInvert() {
        [...document.getElementsByClassName('similar-post-input')].forEach((input)=>{
            input.checked = !input.checked;
        });
    }
</script>
{% endblock %}