{% macro render_form(form, method, url) -%}
    <form method="{{ method }}" action="{{ url }}">
        {{ form.csrf_token }}
        {{ caller() }}
        <input type="submit" value="Submit">
    </form>
{%- endmacro %}

{% macro simple_list(items, key) -%}
    {% for item in items %}
        {% if caller is undefined %}
            {{ item[key] }}
        {% else %}
            {{ caller(item) }}
        {% endif %}
        {% if not loop.last %}
            <br>
        {% endif %}
    {% else %}
        <em>none</em>
    {% endfor %}
{%- endmacro %}

{% macro items_list(items, key) -%}
    {% for item in items %}
        {% if loop.first %}
            <ul>
        {% endif %}
            <li>{{ item[key] }}</li>
        {% if loop.last %}
            </ul>
        {% endif %}
    {% else %}
        <em>none</em>
    {% endfor %}
{%- endmacro %}

{% macro items_block(items, item_plural, separator='<hr>') -%}
    {% for item in items %}
        {{ caller(item) }}
        {% if not loop.last %}
            {{ separator | safe }}
        {% endif %}
    {% else %}
        <span class="explanation">There are no {{ item_plural }}.</span>
    {% endfor %}
{%- endmacro %}

{% macro timestamps_section(item, section_id) -%}
    <section id="{{ section_id }}">
        <h4>Timestamps</h4>
        <ul>
            {% for attr in ['requery', 'created', 'updated'] %}
                {% if item[attr] is defined %}
                    <li><strong>{{ attr | title }}:</strong> {{ helpers.base.FormatTimestamp(item[attr]) }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
{%- endmacro %}
