<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - Prebooru</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block css %}{% endblock %}
    <script src="{{ url_for('static', filename='javascript/base.js') }}"></script>
    {% block linkscript %}{% endblock %}
</head>
<body>
    <header id="top">
        <a id="app-name-header" class="heading" href="/">Prebooru</a>
        <nav>
            {{ helpers.base.render_template("layouts/_main_links.html") | safe }}
            {% block secondary_links %}{% endblock %}
        </nav>
    </header>
    <section id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="notice" style="position: fixed; top: 1em; left: 25%; width: 50%; z-index: 9999; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
                    {% for category, message in messages %}
                        {# Use CSS class styles for the following instead. #}
                        {% if category == 'error' %}
                            <div class="notice-error" style="padding: .5em; background: #fbe3e3; border: 1px solid #ffc3c3;">{{ message }}</div>
                        {% else %}
                            <div class="notice-{{ category }}" style="padding: .5em; background: #fdf6e6; border: 1px solid #f7e7c3;">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if not helpers.base.HasErrorMessages(messages) %}
                    <script>
                        setTimeout(()=>{
                            document.getElementById('notice').style.setProperty('display', 'none');
                        }, 5000);
                    </script>
                {% endif %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        {% block pages %}{% endblock %}
        {% block pagescript %}{% endblock %}
    </section>
    <footer>
        <div style="margin: 2em; text-align: center; font-size: 1.5em; border-top: 2px dotted grey;">Prebooru Footer</div>
    </footer>
</body>