{% extends 'boorus/_base.html' %}

{% block title %}Edit - Booru #{{ booru.id }}{% endblock %}

{% block content %}
    <div class="heading" style="font-size: 28px">
        Edit: <a href="{{ booru.show_url }}">{{ booru.shortlink }}</a>
    </div>
    <form method="POST" action="{{ url_for('booru.update_html', id=booru.id) }}">
        <input type="hidden" name="_method" value="put">
        {{ form.csrf_token }}
        {% for field_name,field_input in helpers.base.FormIterator(form) %}
            {{ field_input() }}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
