{% extends 'boorus/_base.html' %}

{% block title %}Boorus{% endblock %}

{% block content %}
    <table id="boorus-table" class="striped" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Info</th>
                <th>Names</th>
                <th>Artists</th>
                <th>Timestamps</th>
            </tr>
        </thead>
        <tbody>
            {% for booru in boorus.items %}
                {% set outer_loop = loop %}
                <tr id="booru-{{ booru.id }}">
                    <td><a href="{{ booru.show_url }}">{{ booru.shortlink }}</a> <a href="{{ helpers.booru.PostSearch(booru) }}">&raquo;</a></td>
                    <td>
                        <span><strong>Danbooru ID:</strong> {{ booru.danbooru_id }}</span><br>
                        <span><strong>Current name:</strong> <a href="https://danbooru.donmai.us/artists/{{ booru.danbooru_id }}">{{ booru.current_name }}</a></span>
                    </td>
                    <td>
                         {% for booru_name in booru.names %}
                            {{ booru_name.name }}
                            {% if not loop.last %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                         {% for artist in booru.artists %}
                            <a href="{{ artist.show_url }}">{{ artist.shortlink }}</a> <a href="{{ helpers.artist.PostSearch(artist) }}">&raquo;</a>
                            {% if not loop.last %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <strong>Created:</strong> {{ helpers.base.FormatTimestamp(booru.created) }}<br>
                        <strong>Updated:</strong> {{ helpers.base.FormatTimestamp(booru.updated) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pages %}{{ helpers.base.PageNavigation(boorus) | safe }}{% endblock %}
