{% extends 'boorus/_base.html' %}

{% block title %}Booru # {{ booru.id }}{% endblock %}

{% block content %}
    <div id="booru-heading" class="heading">Booru #{{ booru.id }}</div>
    <div id="booru-content">
        {% include "boorus/_sidebar.html" %}
        {% include "boorus/_site_content.html" %}
    </div>
    <div id="booru-posts">
        {% with posts=booru.recent_posts, post_search_link=helpers.booru.PostSearch(booru) %}
            {% include "posts/_recent_posts.html" %}
        {% endwith %}
    </div>
{% endblock %}
