{% extends 'boorus/_base.html' %}

{% block title %}Booru # {{ booru.id }}{% endblock %}

{% block content %}
    <div id="booru-heading" class="heading">Booru #{{ booru.id }}</div>
    <div id="booru-content">
        {{ helpers.base.RenderTemplate("boorus/_sidebar.html", booru=booru) }}
        {{ helpers.base.RenderTemplate("boorus/_site_content.html", booru=booru) }}
    </div>
    <div id="booru-posts">
        {{ helpers.base.RenderTemplate("posts/_recent_posts.html", posts=booru.recent_posts, post_search_link=helpers.booru.PostSearch(booru)) }}
    </div>
{% endblock %}
