<div class="pool-display-block">
    {% if helpers.pool.ItemIsOfType(item, 'post') %}
        {{ post_preview(item) }}
    {% elif helpers.pool.ItemIsOfType(item, 'illust') %}
        {% if item.type == 'image' %}
            {{ illust_preview(item) }}
        {% elif item.type == 'video' %}
            {{ post_preview(item.video_illust_url.post) }}
        {% endif %}
    {% elif helpers.pool.ItemIsOfType(item, 'notation') %}
        <div class="pool-display-notation">{{ helpers.notation.ConvertToHTML(item) }}</div>
    {% endif %}
</div>
