<div class="pool-info-block">
    <div class="pool-relation-block">
        <div class="pool-artist-block">
            <strong>Artists:</strong><br>
            {% if helpers.pool.ItemIsOfType(item, 'post') %}
                {{ itemlist(item.artist_ids, 'artist') }}
            {% elif helpers.pool.ItemIsOfType(item, 'illust') %}
                {{ itemlist([item.artist_id], 'artist') }}
            {% endif %}
        </div>
        {% if helpers.pool.ItemIsOfType(item, 'post') %}
            <div class="pool-illust-block">
                <strong>Illusts:</strong>
                {{ itemlist(item.illust_ids, 'illust') }}
            </div>
        {% endif %}
    </div>
    {% if item.notations | length > 0 %}
        <div class="pool-notation-block">
            <strong>Notations:</strong><br>
            {{ notationlist(item.notations) }}
        </div>
    {% endif %}
</div>
