{% macro pools_section(item, section_id) -%}
    {% if item.pools | length > 0 %}
        <section id="{{ section_id }}">
            <h4>Pools</h4>
            <ul>
                {% for pool_element in item._pools %}
                    <li>
                        <strong><a href="{{ pool_element.pool.show_url }}">{{ pool_element.pool.name }}</a></strong>
                        <span class="delete-control">
                            ( <a href="{{ pool_element.delete_url }}" onclick="return Prebooru.deletePool(this)">remove</a> )
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{%- endmacro %}
