{% extends 'pools/_base.html' %}

{% block title %}Edit - Pool #{{ pool.id }}{% endblock %}

{% block content %}
    <div class="form-heading heading">
        Edit: <a href="{{ pool.show_url }}">{{ pool.shortlink }}</a>
    </div>
    <form method="POST" action="{{ pool.update_url }}">
        <input type="hidden" name="_method" value="put">
        {{ form.csrf_token }}
        {% for field_name,field_input in helpers.base.FormIterator(form) %}
            {{ field_input() }}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
