{% extends 'layouts/base.html' %}

{% block title %}Pool # {{ pool.id }}{% endblock %}

{% block content %}
    <div id="pool-content">
        <div class="heading" style="font-size: 32px">Pool #{{ pool.id }}</div>
        <div class="heading" style="font-size: 24px"><strong>Name:</strong> {{ pool.name }}</div>
        <div id="pool-items">
            {% for item in elements.items %}
                <div style="display: inline-block; height: 480px; vertical-align: top; margin: 0.25em; padding: 0.5em; border: 1px solid #EEE; min-width: 300px;">
                    <div style="font-size: 24px;"><a href="{{ item.show_url }}">{{ item.shortlink }}</a></div>
                    <div>
                        <div style="display: block; height: 320px; margin-left: 1em;">
                            {% if helpers.pool.ItemIsOfType(item, 'post') %}
                                {{ helpers.post.Preview(item) | safe }}
                            {% elif helpers.pool.ItemIsOfType(item, 'illust') %}
                                {{ helpers.illust.PostPreviews(item) }}
                            {% elif helpers.pool.ItemIsOfType(item, 'notation') %}
                                <div style="word-break: break-word; width: 315px;">{{ helpers.notation.ConvertToHTML(item) }}</div>
                            {% endif %}
                        </div>
                        {% if helpers.pool.ItemIsOfTypes(item, ['post', 'illust']) %}
                            <div style="display: block; vertical-align: top; max-height: 125px; overflow-y: auto; background-color: #F8F8F8; border: 1px solid #DDD; width: 310px;">
                                <ul style="margin-left: 1.5em; min-height: 120px; display: inline-block; width: 150px; vertical-align: top;">
                                    <li><strong>Artists:</strong>
                                        {% if helpers.pool.ItemIsOfType(item, 'post') %}
                                            {{ helpers.pool.DisplayArtists(item.artist_ids) | safe }}
                                        {% elif helpers.pool.ItemIsOfType(item, 'illust') %}
                                            {{ helpers.pool.DisplayArtists([item.artist_id]) | safe }}
                                        {% endif %}
                                    </li>
                                    {% if helpers.pool.ItemIsOfType(item, 'post') %}
                                        <li><strong>Illusts:</strong>
                                            {{ helpers.pool.DisplayIllusts(item.illust_ids) | safe }}
                                        </li>
                                    {% endif %}
                                    {% if helpers.base.HasItems(item.notations) %}
                                        <li><strong>Notations:</strong>
                                            {{ helpers.notation.DisplayNotes(item) | safe }}
                                        </li>
                                    {% endif %}
                                </ul>
                                <ul style="margin-left: 1.5em; min-height: 120px; display: inline-block; width: 80px; vertical-align: top;">
                                    <li><strong>Type:</strong> {{ helpers.pool.MediaType(item) }}</li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ helpers.base.PageNavigation(elements) | safe }}
{% endblock %}
