{% extends 'illust_urls/_base.html' %}

{% block title %}
    New illust URL
    {% if form.illust_id.data %}
        for illust #{{ form.illust_id.data }}
    {% endif %}
 {% endblock %}

{% block content %}
    <div class="heading" style="font-size: 28px">
        {% if form.illust_id.data == None %}
            New illust URL
        {% else %}
            New illust URL: <a href="{{ url_for('illust.show_html', id=form.illust_id.data) }}">illust #{{ form.illust_id.data }}</a>
        {% endif %}
    </div>
    <form method="POST" action="{{ url_for('illust_url.create_html') }}">
        {{ form.csrf_token }}
        {% for field_name,field_input in helpers.base.FormIterator(form) %}
            {{ field_input() }}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
