{% extends 'illust_urls/_base.html' %}

{% block title %}
    Illust URL for illust #{{ illust_url.illust_id }}
 {% endblock %}

{% block content %}
    <div class="heading" style="font-size: 28px">
        Illust URL: <a href="{{ url_for('illust.show_html', id=illust_url.illust_id) }}">illust #{{ illust_url.illust_id }}</a>
    </div>
    <div id="illust-url-content">
        <ul>
            <li><strong>ID:</strong> {{ illust_url.id }}</li>
            <li><strong>Domain:</strong> {{ illust_url.site_domain }}</li>
            <li><strong>URL:</strong> {{ helpers.base.UrlLink(illust_url.full_url) }}</li>
            <li><strong>Dimensions:</strong> ({{ illust_url.width }} x {{ illust_url.height }})</li>
            <li><strong>Active:</strong> {{ illust_url.active | tojson }}</li>
        </ul>
    </div>
{% endblock %}
