{% from 'posts/_macros.html' import post_preview %}

<div class="heading">
    <div id="recent-posts-heading">
        <u>Posts</u>
        {% if post_count is defined %}
            (&thinsp;{{ post_count }}&thinsp;)
        {% endif %}
        {% if post_search_link is not none %}
            <a href="{{ post_search_link }}">&raquo;</a>
        {% endif %}
    </div>
</div>
<div id="recent-posts-container">
     {% for post in posts %}
        <div class="recent-post-block">
            {{ post_preview(post) }}
        </div>
    {% else %}
        <span class="explanation">There are no posts.</span>
    {% endfor %}
</div>
