{% if posts | length > 0 %}
    <div id="related-posts">
        <div class="heading">
            <span id="recent-posts-heading">
                Related posts
                {% if post_search_link is not none %}
                    <a href="{{ post_search_link }}">&raquo;</a>
                {% endif %}
            </span>
        </div>
        <div id="recent-posts-container">
             {% for post in posts %}
                <div class="recent-post-block">
                    {{ post_preview(post) }}
                </div>
            {% else %}
                <span class="explanation">There are no posts.</span>
            {% endfor %}
        </div>
    </div>
{% endif %}
