{% extends 'layouts/base.html' %}

{% block title %}Post # {{ post.id }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/posts.css') }}">
{% endblock %}

{% block content %}
    <div id="sidebar-container" style="display: flex;">
        <aside id="sidebar" style="width: 25em;">
            <section id="tag-list"><!-- placeholder for user tags --></section>
            <section id="artist-info">
                <h3>Artists</h3>
                <ul>
                    {% for artist in post.artists %}
                        {% set outer_loop = loop %}
                        <li><strong>ID:</strong> <a href="{{url_for('artist.show_html', id=artist.id)}}">artist #{{ artist.id }}</a></li>
                        <li><strong>Site ID:</strong> {{ artist.site_artist_id }}</li>
                        <li><strong>Domain:</strong> {{ artist.site_domain }}</li>
                        <li><strong>Names:</strong>
                            {% for artist_name in artist.names %}
                                <span>{{ artist_name.name }}</span>&emsp;
                            {% endfor %}
                        </li>
                        <li><strong>Accounts:</strong>
                            {% for site_account in artist.site_accounts %}
                                <span>{{ site_account.name }}</span>&emsp;
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </section>
            <section id="illust-info" style="margin-top: 1em;">
                <h3>Illusts</h3>
                <ul>
                    {% for illust in post.illusts %}
                        {% set outer_loop = loop %}
                        <li><strong>ID:</strong> <a href="{{url_for('illust.show_html', id=illust.id)}}">illust #{{ illust.id }}</a></li>
                        <li><strong>Site ID:</strong> {{ illust.site_illust_id }}</li>
                        <li><strong>Domain:</strong> {{ illust.site_domain }}</li>
                        <li><strong>Tags:</strong>
                            <ul style="margin-left: 1em;">
                            {% for tag in illust.tags %}
                                <li>{{ tag.name }}</li>
                            {% else %}
                                <li><em>none</em></li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </section>
            <section id="post-info" style="margin-top: 1em;">
                <h2>Info</h2>
                <ul>
                    <li><strong>ID:</strong> post #{{ post.id }}</li>
                    <li><strong>Created:</strong> {{ helpers.base.FormatTimestamp(post.created) }}</li>
                    <li><strong>Size:</strong> {{ post.size }} bytes</li>
                    <li><strong>Dimensions:</strong> ({{ post.width }} x {{ post.height }})</li>
                    <li><strong>Type:</strong> {{ post.file_ext }}</li>
                    <li><strong>MD5:</strong> {{ post.md5 }}</li>
                    <li><strong>Sources:</strong>
                        <ul style="margin-left: 1em;">
                            {% for illust_url in post.illust_urls %}
                                {% set outer_loop = loop %}
                                <li>{{ helpers.illust.OriginalUrl(illust_url) }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </section>
            <section id="error-list" style="margin-top: 1em;">
                <h2>Errors</h2>
                <ul>
                {% for error in post.errors %}
                    <li><strong>Module:</strong> {{ error.module }}</li>
                    <li><strong>Message:</strong> {{ error.message }}</li>
                    <li><strong>Created:</strong> {{ helpers.base.FormatTimestamp(error.created) }}</li>
                {% else %}
                    <li><em>none</em></li>
                {% endfor %}
                </ul>
            </section>
            <section id="post-image-search" style="margin-top: 1em;">
                <h2>Image search</h2>
                <ul>
                    <li><strong>Danbooru:</strong> {{ helpers.post.DanbooruSearchLinks(post) | safe }}</li>
                    <li><strong>Sauce:</strong> {{ helpers.post.SauceNAOSearchLinks(post) | safe }}</li>
                    <li><strong>Ascii2D:</strong> {{ helpers.post.Ascii2DSearchLinks(post) | safe }}</li>
                    <li><strong>IQDB.org:</strong> {{ helpers.post.IQDBOrgSearchLinks(post) | safe }}</li>
                </ul>
            </section>
            <section id="post-image-search" style="margin-top: 1em;">
                <h2>Upload to Danbooru</h2>
                <ul>
                    <li><strong>Post bookmarklet:</strong> {{ helpers.post.DanbooruPostBookmarkletLinks(post) | safe }}</li>
                    <li><strong>Batch bookmarklet:</strong> {{ helpers.post.DanboooruBatchBookmarkletLinks(post) | safe }}</li>
                </ul>
            </section>
            <section id="post-options" style="margin-top: 1em;">
                <h2>Options</h2>
                <ul>
                    <li><a href="{{ post.file_url }}">Original file</a></li>
                    <li><a href="javascript:prompt('Copy file link:', '{{ post.file_path.encode('unicode-escape').decode() }}');false;">File link</a></li>
                </ul>
            </section>
        </aside>
        <section id="content" style="width: 1300px;">
            <section id="image-container">
                <picture>
                    <img src="{{ post.sample_url }}">
                </picture>
            </section>
            <section id="artist-commentaries" style="border: 1px solid grey; padding: 0.5em;">
                <h2><u>Commentaries</u></h2>
                {% for illust in post.illusts %}
                    {% set outer_loop = loop %}
                    <div><strong>Illust #{{ illust.id }}:</strong><br>
                        {% for description in illust.descriptions %}
                            {{ helpers.base.ConvertStrToHTML(description.body) }}
                            {% if not loop.last %}
                                <br><hr><br>
                            {% endif %}
                        {% else %}
                            There are no commentaries!
                        {% endfor %}
                    </div>
                {% endfor %}
            </section>
        </section>
    </div>
{% endblock %}
