<div id="artist-sidebar">
    <section id="artist-boorus">
        <h4>Boorus</h4>
        <ul>
            {% for booru in artist.boorus %}
                <li><span class="item-heading"><a href="{{ booru.show_url }}">{{ booru.shortlink }}</a> <a href="{{ helpers.booru.PostSearch(booru) }}">&raquo;</a></span>
                    <ul>
                        <li><strong>Danbooru ID:</strong> {{ booru.danbooru_id }}</li>
                        <li><strong>Current name:</strong> <a href="https://danbooru.donmai.us/artists/{{ booru.danbooru_id }}">{{ booru.current_name }}</a></li>
                    </ul>
                </li>
            {% else %}
                <li><em>none</em></li>
            {% endfor %}
        </ul>
    </section>
    <section id="artist-illusts">
        <h4>Illusts ( <a href="{{ artist.illust_search }}">{{ artist.illust_count }}</a> )</h4>
    </section>
    <section id="artist-timestamps">
        <h4>Timestamps</h4>
        <ul>
            <li><strong>Requery:</strong> {{ helpers.base.FormatTimestamp(artist.requery) }}</li>
            <li><strong>Created:</strong> {{ helpers.base.FormatTimestamp(artist.created) }}</li>
            <li><strong>Updated:</strong> {{ helpers.base.FormatTimestamp(artist.updated) }}</li>
        </ul>
    </section>
    <section id="artist-notations">
        <h4>Notations</h4>
        <div id="artist-notations-container">
            <ul>
                {% for notation in artist.notations %}
                    <li>
                        <a href="{{ url_for('notation.show_html', id=notation.id) }}">notation #{{ notation.id }}</a>
                        <div class="artist-notation-block">
                            {{ helpers.notation.ConvertToHTML(notation) }}<br><br>
                            <span class="muted-timestamp">{{ helpers.base.FormatTimestamps(notation) }}</span>
                        </div>
                    </li>
                {% else %}
                    <li><em>none</em></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section id="artist-options">
        <h4>Options</h4>
        <ul>
            <li><a href="{{ url_for('artist.query_update_html', id=artist.id) }}">Update from source</a></li>
            <li><a href="{{ url_for('artist.query_booru_html', id=artist.id) }}">Query for booru</a></li>
            <li><a href="{{ url_for('illust.new_html', artist_id=artist.id) }}">Add illust</a></li>
            <li><a href="{{ url_for('notation.new_html', artist_id=artist.id) }}">Add notation</a></li>
        </ul>
    </section>
</div>
