{% extends 'layouts/base.html' %}

{% block title %}Edit - Artist #{{ artist.id }}{% endblock %}

{% block secondary_links %}{{ helpers.base.render_template("artists/_secondary_links.html", artist=artist) | safe }}{% endblock %}

{% block content %}
    <form method="POST" action="/artists/{{artist.id}}">
        <input type="hidden" name="_method" value="put">
        {{ form.csrf_token }}
        {{ form.site_id.label }} {{ form.site_id }}
        {{ form.site_artist_id.label }} {{ form.site_artist_id }}
        {{ form.current_site_account.label }} {{ form.current_site_account }}
        {{ form.account_string.label }} {{ form.account_string(cols=50, rows=10) }} {{ form.account_string.description }}
        {{ form.name_string.label }} {{ form.name_string(cols=50, rows=10) }} {{ form.name_string.description }}
        {{ form.active.label }} {{ form.active }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
