{% extends 'artists/_base.html' %}
{% from 'layouts/_macros.html' import render_form %}

{% block title %}Edit - {{ artist.shortlink.title() }}{% endblock %}

{% block content %}
    <div class="form-heading heading">
        Edit: <a href="{{ artist.show_url }}">{{ artist.shortlink }}</a>
    </div>
    {% call render_form(form, 'POST', artist.create_url) %}
        {% for field_name,field_input in helpers.base.FormIterator(form) %}
            {% if field_name == 'profile' %}
                {{ field_input(description="Text here will be appended to existing artist profiles.") }}
            {% else %}
                {{ field_input() }}
            {% endif %}
        {% endfor %}
    {% endcall %}
{% endblock %}
