{% extends 'artists/_base.html' %}

{% block title %}Edit - Artist #{{ artist.id }}{% endblock %}

{% block content %}
    <div class="heading" style="font-size: 28px">
        Edit: <a href="{{ artist.show_url }}">{{ artist.shortlink }}</a>
    </div>
    <form method="POST" action="{{ artist.update_url }}">
        <input type="hidden" name="_method" value="put">
        {{ form.csrf_token }}
        {% for field_name,field_input in helpers.base.FormIterator(form) %}
            {% if field_name == 'profile' %}
                {{ field_input(description="Text here will be appended to existing artist profiles.") }}
            {% else %}
                {{ field_input() }}
            {% endif %}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
