{% extends 'layouts/base.html' %}

{% block title %}Artist # {{ artist.id }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/artists.css') }}">{% endblock %}

{% block secondary_links %}{{ helpers.base.RenderTemplate("artists/_secondary_links.html", artist=artist) }}{% endblock %}

{% block content %}
    <div id="artist-heading" class="heading">Artist #{{ artist.id }}</div>
    <div id="artist-content">
        {{ helpers.base.RenderTemplate("artists/_sidebar.html", artist=artist) }}
        {{ helpers.base.RenderTemplate("artists/_site_content.html", artist=artist) }}
    </div>
    <div id="artist-posts">
        {{ helpers.base.RenderTemplate("posts/_recent_posts.html", posts=artist.recent_posts, post_search_link=helpers.artist.PostSearch(artist)) }}
    </div>
{% endblock %}
