<section id="image-posts">
    <h5>Image URLs</h5>
    <div id="image-posts-container">
         {% for illust_url in helpers.illust.IllustUrlsOrdered(illust) %}
            <div class="image-post">
                <div class="image-post-info">
                    <ul>
                        <li><strong>( <a href="{{ url_for('illust_url.edit_html', id=illust_url.id) }}">edit</a> )</strong></li>
                        <li><strong>Order: {{ illust_url.order }}</strong></li>
                        <li><strong>URL:</strong> {{ helpers.illust.OriginalUrl(illust_url) }}</li>
                        <li><strong>Dimensions:</strong> {{ illust_url.width }} x {{ illust_url.height }}</li>
                        <li><strong>Active:</strong> {{ illust_url.active | tojson }}</li>
                    </ul>
                </div>
                <div class="image-post-preview">
                    {% if illust_url.post != None %}
                        {{ helpers.post.Preview(illust_url.post) | safe }}
                    {% else %}
                        <em>No post.</em> ( <a href="{{ url_for('upload.new_html', illust_url_id=illust_url.id) }}">upload</a> )
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>
