<div id="illust-sidebar">
    <section id="illust-artists">
        <h5><a href="{{ url_for('artist.show_html', id=illust.artist_id) }}">{{ illust.artist.shortlink }}</a></h5>
        <ul>
            <li><strong>Site ID:</strong> {{ illust.artist.site_artist_id }}</li>
            <li><strong>Current account:</strong> {{ helpers.base.StrOrNone(illust.artist.current_site_account) }}</li>
            <li><strong>Links:</strong> {{ helpers.artist.ArtistLinks(illust.artist) | safe }}</li>
        </ul>
    </section>
    <section id="illust-pools">
        <h5>Pools</h5>
        <ul>
            {% for pool in illust.pools %}
                <li><a href="{{ url_for('pool.show_html', id=pool.id) }}">{{ pool.name }}</a></li>
            {% else %}
                <li><em>none</em></li>
            {% endfor %}
        </ul>
    </section>
    <section id="illust-timestamps">
        <h5><u>Timestamps</u></h5>
        <ul>
            <li><strong>Requery:</strong> {{ helpers.base.FormatTimestamp(illust.requery) }}</li>
            <li><strong>Created:</strong> {{ helpers.base.FormatTimestamp(illust.created) }}</li>
            <li><strong>Updated:</strong> {{ helpers.base.FormatTimestamp(illust.updated) }}</li>
        </ul>
    </section>
    <section id="illust-notations">
        <h5>Notations</h5>
        <div id="illust-notations-container">
            <ul>
                {% for notation in illust.notations %}
                    <li>
                        <a href="{{ url_for('notation.show_html', id=notation.id) }}">notation #{{ notation.id }}</a>
                        <div class="illust-notation-block">
                            {{ helpers.notation.ConvertToHTML(notation) }}<br><br>
                            <span style="font-size: 75%; color: #888;">{{ helpers.base.FormatTimestamps(notation) }}</span>
                        </div>
                    </li>
                {% else %}
                    <li><em>none</em></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section id="illust-options">
        <h2>Options</h2>
        <ul>
            <li><a href="{{ url_for('illust.query_update_html', id=illust.id) }}">Update from source</a></li>
            <li><a href="{{ helpers.illust.DanbooruBatchUrl(illust) }}" target="_blank">Batch bookmarklet</a></li>
            <li><a href="{{ url_for('illust_url.new_html', illust_id=illust.id) }}">Add media URL</a></li>
            <li><a href="{{ url_for('pool_element.new_html', illust_id=illust.id) }}">Add pool</a></li>
            <li><a href="{{ url_for('notation.new_html', illust_id=illust.id) }}">Add notation</a></li>
        </ul>
    </section>
</div>
