{% from "layouts/_macros.html" import timestamps_section %}
{% from "boorus/_macros.html" import boorus_section %}
{% from "artists/_macros.html" import artists_section %}
{% from "pools/_macros.html" import pools_section %}
{% from "notations/_macros.html" import notations_section %}

<div id="illust-sidebar">
    {{ boorus_section(illust.boorus, 'illust-boorus') }}
    {{ artists_section(illust.artist, 'illust-artists') }}
    {{ pools_section(illust, 'illust-pools') }}
    {{ timestamps_section(illust, 'illust-timestamps') }}
    {{ notations_section(illust.notations, 'illust-notations') }}
    <section id="illust-options">
        <h4>Options</h4>
        <ul>
            <li><a href="{{ url_for('illust.query_update_html', id=illust.id) }}" onclick="return Prebooru.linkPost(this)">Update from source</a></li>
            <li><a href="{{ helpers.illust.DanbooruBatchUrl(illust) }}" target="_blank">Batch bookmarklet</a></li>
            <li><a href="{{ url_for('illust_url.new_html', illust_id=illust.id) }}">Add media URL</a></li>
            <li><a href="{{ url_for('pool_element.create_html') }}" data-illust-id="{{ illust.id }}" onclick="return Prebooru.createPool(this, 'illust')">Add to pool</a></li>
            <li><a href="{{ url_for('notation.new_html', illust_id=illust.id) }}">Add notation</a></li>
        </ul>
    </section>
</div>
