{% extends 'layouts/base.html' %}

{% block title %}Add Pool for Illust #{{ illust.id }}{% endblock %}

{% block content %}
    <div class="heading" style="font-size: 28px">Add pool: <a href="{{ url_for('illust.show_html', id=illust.id) }}">{{ illust.shortlink }}</a></div>
    <form method="POST" action="{{ url_for('illust.add_pool_html', id=illust.id) }}">
        {{ form.csrf_token }}
        {{ form.pool_id.label }} {{ form.pool_id }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
