{% extends 'illusts/_base.html' %}

{% block title %}Edit - Illust #{{ illust.id }}{% endblock %}

{% block content %}
    <form id="form" class="{{ helpers.illust.FormClass(form) }}" method="POST" action="{{ illust.update_url }}">
        <input type="hidden" name="_method" value="put">
        {{ form.csrf_token }}
        {% for field_name,field_input in helpers.base.FormIterator(form) %}
            {% set classlist = [] %}
            {% if field_name in ['retweets', 'replies', 'quotes'] %}
                {% do classlist.append('twitter-data') %}
            {% endif %}
            {% if field_name in ['title', 'bookmarks', 'site_updated', 'site_uploaded', 'replies', 'views'] %}
                {% do classlist.append('pixiv-data') %}
            {% endif %}
            {% if field_name == 'commentary' %}
                {{ field_input(description="Text here will be appended to existing artist profiles.") }}
            {% else %}
                {{ field_input(classlist=classlist) }}
            {% endif %}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
