{% extends 'illusts/_base.html' %}
{% from "illusts/_macros.html" import illust_preview %}

{% block title %}Illusts{% endblock %}

{% block content %}
    <table id="illusts-table" class="striped" width="100%">
        <thead>
            <tr>
                <th>Preview</th>
                <th>Info</th>
                <th>Tags</th>
                <th>Illust urls</th>
                <th>Timestamps</th>
            </tr>
        </thead>
        <tbody>
            {% for illust in illusts.items %}
                {% set outer_loop = loop %}
                <tr id="illust-{{ illust.id }}">
                    <td>
                        {{ illust_preview(illust) }}
                    </td>
                    <td>
                        <a href="{{ illust.show_url }}">illust #{{ illust.id }}</a> <a href="{{ helpers.illust.PostIllustSearch(illust) }}">&raquo;</a><br>
                        <span><strong>Domain:</strong> {{ illust.site_domain }}</span><br>
                        <span><strong>Site ID:</strong> {{ illust.site_illust_id }}</span><br>
                    </td>
                    <td>
                        <div style="max-width: 20vw;">
                             {% for tag in illust.tags %}
                                <span style="white-space: nowrap;">{{ tag.name }}</span>&emsp;
                            {% else %}
                                <em>none</em>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                         {% for illust_url in illust.urls %}
                            <span><strong>#{{ illust_url.order }}</strong>
                                <code>[{{ 'Active' if illust_url.active else 'Inactive' }}]</code>
                                ({{ illust_url.width }} x {{ illust_url.height }})</span><br>
                            <span><strong>URL:</strong> {{ helpers.illust.OriginalUrl(illust_url) }}</span>
                            {% if not loop.last %}
                                <br>
                            {% endif %}
                        {% else %}
                            <em>none</em>
                        {% endfor %}
                    </td>
                    <td>
                        <strong>Requery:</strong> {{ helpers.base.FormatTimestamp(illust.requery) }}<br>
                        <strong>Created:</strong> {{ helpers.base.FormatTimestamp(illust.created) }}<br>
                        <strong>Updated:</strong> {{ helpers.base.FormatTimestamp(illust.updated) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pages %}{{ helpers.base.PageNavigation(illusts) }}{% endblock %}
