{% extends 'illusts/_base.html' %}

{% block title %}
    New Illust
    {% if not helpers.illust.IsGeneralForm(form) %}
        for artist #{{ form.artist_id.data }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="heading" style="font-size: 28px">
        {% if helpers.illust.IsGeneralForm(form) %}
            New illust
        {% else %}
            New illust: <a href="{{ url_for('artist.show_html', id=form.artist_id.data) }}">artist #{{ form.artist_id.data }}</a>
        {% endif %}
    </div>
    <form method="POST" action="/illusts">
        {{ form.csrf_token }}
        {% for field_name,field_input in helpers.base.FormIterator(form) %}
            {{ field_input() }}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
