{% extends 'layouts/base.html' %}

{% block title %}Illust # {{ illust.id }}{% endblock %}

{% block secondary_links %}{{ helpers.base.render_template("illusts/_secondary_links.html", illust=illust) | safe }}{% endblock %}

{% block content %}
    <div id="illust-content">
        <div class="heading" style="font-size: 32px">Illust #{{ illust.id }}</div>
        <div style="display: flex; margin-top: 2em;">
            <div style="width: 25%; margin-left: 1em;">
                <h5><u>Site</u></h5>
                <ul style="margin-left: 1.5em;">
                    <li><strong><a href="{{ helpers.illust.SiteIllustUrl(illust) }}">{{ helpers.illust.ShortLink(illust) }}</a></strong></li>
                    <li><strong>Domain:</strong> {{ illust.site_domain }}</li>
                    <li><strong>Illust ID:</strong> {{ illust.site_illust_id }}</li>
                    <li><strong>Created:</strong> {{ helpers.base.FormatTimestamp(illust.site_created) }}</li>
                    <li><strong>Pages:</strong> {{ illust.pages }}</li>
                    <li><strong>Active:</strong> {{ illust.active }}</li>
                </ul>
            </div>
            <div style="width: 15%; margin-left: 1em;">
                <h5><u>Metrics</u></h5>
                <ul style="margin-left: 1.5em;">
                        <li><strong>Score:</strong> {{ illust.score }}</li>
                         {% for key,val in helpers.illust.SiteDataIterator(illust) %}
                            <li><strong>{{ key.title() }}:</strong> {{ val }}</li>
                        {% endfor %}
                </ul>
            </div>
            <div style="width: 25%; margin-left: 1em;">
                <h5><u>Tags</u></h5>
                <ul style="margin-left: 1.5em;">
                    {% for tag in illust.tags %}
                        <li>{{ tag.name }}</li>
                    {% else %}
                        <li><em>none</em></li>
                    {% endfor %}
                </ul>
            </div>
            <div style="width: 20%; margin-left: 1em;">
                <h5><u>Timestamps</u></h5>
                <ul style="margin-left: 1.5em;">
                    <li><strong>Requery:</strong> {{ helpers.base.FormatTimestamp(illust.requery) }}</li>
                    <li><strong>Created:</strong> {{ helpers.base.FormatTimestamp(illust.created) }}</li>
                    <li><strong>Updated:</strong> {{ helpers.base.FormatTimestamp(illust.updated) }}</li>
                </ul>
            </div>
        </div>
        <div style="margin-top: 2em; display: flex;">
            <div style="width: 40%; margin-left: 1em;">
                <h4><u>Local data</u></h4>
                <ul style="margin-left: 1.5em; margin-top: 0.5em;">
                    <li><b><a href="{{ url_for('artist.show_html', id=illust.artist_id) }}">{{ illust.artist.shortlink }}</a></b>
                        <ul style="margin-left: 1.5em;">
                            <li><strong>Site ID:</strong> {{ illust.artist.site_artist_id }}</li>
                            <li><strong>Current account:</strong> {{ helpers.base.StrOrNone(illust.artist.current_site_account) }}</li>
                            <li><strong>Links:</strong> {{ helpers.artist.ArtistLinks(illust.artist) | safe }}</li>
                        </ul>
                    </li>
                    <li><b>Pools</b>
                        <ul style="margin-left: 1.5em;">
                            {% for pool in illust.pools %}
                                <li><a href="{{ url_for('pool.show_html', id=pool.id) }}">{{ pool.name }}</a></li>
                            {% else %}
                                <li><em>No pools.</em></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><b>Notations</b>
                        <ul style="margin-left: 1.5em;">
                            {% for notation in illust.notations %}
                                <li><a href="{{ url_for('notation.show_html', id=notation.id) }}">notation #{{ notation.id }}</a>
                                    <ul style="margin-left: 1.5em;">
                                        <li><strong>Body:</strong> {{ notation.body }}</li>
                                        <li><strong>Created:</strong> {{ helpers.base.FormatTimestamp(notation.created) }}</li>
                                        <li><strong>Updated:</strong> {{ helpers.base.FormatTimestamp(notation.updated) }}</li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><em>No notations.</em></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div style="margin-left: 1em;">
                <h5><u>Commentaries</u></h5>
                <div style="border: 1px solid lightgrey; padding: 5px;">
                    {% for description in illust.descriptions %}
                        {{ helpers.base.ConvertStrToHTML(description.body) }}
                        {% if not loop.last %}
                            <br><hr><br>
                        {% endif %}
                    {% else %}
                        There are no commentaries!
                    {% endfor %}
                </div>
            </div>
        </div>
        <div style="margin-top: 2em;">
            <h5><u>Image URLs</u></h5>
            <div style="display: flex;">
                 {% for illust_url in illust.urls %}
                    <div style="width: 25%;">
                        <div>
                            <ul style="margin-left: 1.5em; padding-right: 0.5em;">
                                <li><strong>Order: {{ illust_url.order + 1 }}</strong></li>
                                <li><strong>URL:</strong> {{ helpers.illust.OriginalUrl(illust_url) }}</li>
                                <li><strong>Dimensions:</strong> {{ illust_url.width }} x {{ illust_url.height }}</li>
                                <li><strong>Active:</strong> {{ illust_url.active | tojson }}</li>
                            </ul>
                        </div>
                        <div>
                            {% if illust_url.post != None %}
                                {{ helpers.post.Preview(illust_url.post) | safe }}
                            {% else %}
                                <em>No post.</em>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <em>none</em>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
