{% extends 'layouts/base.html' %}

{% block title %}Illust # {{ illust.id }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/illusts.css') }}">{% endblock %}

{% block secondary_links %}{{ helpers.base.RenderTemplate("illusts/_secondary_links.html", illust=illust) }}{% endblock %}

{% block content %}
    <div class="heading" style="font-size: 32px">Illust #{{ illust.id }}</div>
    <div id="artist-content" style="margin-top: 2em; display: flex">
        {{ helpers.base.RenderTemplate("illusts/_sidebar.html", illust=illust) }}
        {{ helpers.base.RenderTemplate("illusts/_site_content.html", illust=illust) }}
    </div>
    <div id="illust-posts" style="margin-top: 2em;">
        {% if illust.type == 'video' %}
            {{ helpers.base.RenderTemplate("illusts/_video_posts.html", illust=illust) }}
        {% elif illust.type == 'image' %}
            {{ helpers.base.RenderTemplate("illusts/_image_posts.html", illust=illust) }}
        {% endif %}
    </div>
{% endblock %}
