{% from "layouts/_macros.html" import timestamps_section %}

<aside id="notation-sidebar">
    {% if helpers.notation.HasAppendItem(notation) %}
        {% with append_key, append_item = helpers.notation.AppendKey(notation) %}
            <section id="{{ append_key }}-post">
                <h4>{{ append_key.title() }}</h4>
                <ul>
                    <li>{{ helpers.notation.ItemLink(append_item) }}</li>
                </ul>
            </section>
        {% endwith %}
    {% endif %}
    {{ timestamps_section(notation, 'notation-timestamps') }}
</aside>
