{% extends 'notations/_base.html' %}

{% block title %}Edit - {{ notation.shortlink.title() }}{% endblock %}

{% block content %}
    <form method="POST" action="{{ notation.update_url }}">
        <div class="heading" style="font-size: 28px">Edit {{ helpers.notation.FormHeader(form) }}</div>
        <input type="hidden" name="_method" value="put">
        {{ form.csrf_token }}
        {% for field_name,field_input in helpers.base.FormIterator(form) %}
            {{ field_input() }}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
