{% extends 'notations/_base.html' %}

{% block title %}Notations{% endblock %}

{% block content %}
    <table id="notations-table" class="striped" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Excerpt</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for notation in notations.items %}
                {% set outer_loop = loop %}
                <tr id="notation-{{ notation.id }}">
                    <td><a href="{{ notation.show_url }}">{{ notation.shortlink }}</a></td>
                    <td>
                        <span>{{ helpers.notation.Excerpt(notation) }}</span>
                    </td>
                    <td>
                        <span>{{ helpers.base.FormatTimestamp(notation.created) }}</span>
                    </td>
                    <td>
                        <span>{{ helpers.base.FormatTimestamp(notation.updated) }}</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pages %}{{ helpers.base.PageNavigation(notations)}}{% endblock %}