{% extends 'notations/_base.html' %}

{% block title %}{{ notation.shortlink.title() }}{% endblock %}

{% block content %}
        <div id="notation-heading" class="heading">{{ notation.shortlink.title() }}</div>
        <div id="notation-content">
            {% include "notations/_sidebar.html" %}
            <div id="notation-site-content">
                <section id="notation-body">
                    <h4>Body</h4>
                    <div class="notation-block">
                        {{ helpers.notation.ConvertToHTML(notation) }}
                    </div>
                </section>
            </div>
        </div>
{% endblock %}
