{% extends 'layouts/base.html' %}
{% from 'posts/_macros.html' import post_preview %}

{% block title %}Similarity results{% endblock %}

{% block content %}
    <div id="similarity-results-content">
        <div class="heading" style="font-size: 32px">Similarity results</div>
        <div style="margin-top: 1em; margin-left: 1em;">
            {% for similar_result in similar_results %}
                <div style="margin-top: 1em;">
                    <div class="heading" style="font-size: 28px;">Image #{{ loop.index }}</div>
                    <div style="margin-top: 1em; margin-left: 1em;">
                        <article class="post" style="border: 1px solid lightgrey; padding: 5px;">
                            <img src="{{ similar_result['cache'] }}" style="max-width: 300px; max-height: 300px; width: auto; height: auto;">
                        </article>
                        <div style="font-size: 20px; margin-top: 1em;"><strong>Image url:</strong> {{ similar_result['image_url'] }}</div>
                    </div>
                    <div style="margin-top: 1em; border: 2px solid #ddd; background-color: #eee; width: 95%; padding: 1em;">
                        {% for result in similar_result['post_results'] %}
                            <div style="display: inline-block; border: 1px solid grey; padding: 5px; margin: 5px;">
                                {{ post_preview(result['post']) }}
                                <div style="margin-top: 1em; font-size: 18px;"><strong>Score:</strong> {{ result['score']}} </div>
                            </div>
                        {% else %}
                            <div style="font-size: 20px; font-weight: bold; height: 50px;">No results.</div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
