{% extends 'uploads/_base.html' %}
{% from 'layouts/_macros.html' import render_form %}

{% block title %}New Upload{% endblock %}

{% block content %}
    <div class="form-heading heading">New upload{{ helpers.upload.FormTitleApellation(illust_url) }}</div>
    {% if illust_url is not none %}
        <ul style="margin-left: 2em;">
            <li><strong>URL:</strong> {{ illust_url.full_url }}</li>
            <li><strong>Dimensions:</strong> ( {{ illust_url.width }} x {{ illust_url.height }} )</li>
        </ul>
    {% endif %}
    {% call render_form(form, 'POST', upload.create_url) %}
        {% for _, field_input in helpers.base.FormIterator(form) %}
            {{ field_input() }}
        {% endfor %}
    {% endcall %}
{% endblock %}
